{% extends 'base.html.twig' %}
{% block body %}


    <div class="container">
        <h1 class="text-center py-4">{{ 'label.edit_profile'|trans }}</h1>
        <div class="row">
            <div class="col-md-6 offset-md-3">
{#                {{ include ('default/_form.html.twig',#}
{#                    {'form':form#}
{#                    })#}
{#                }}#}
                {{ form(profileForm) }}


{#                        <div class="alert alert-danger">#}
{#                            {{ passwordError }}#}
{#                        </div>#}


                {{ form(changePasswordForm) }}
            </div>
        </div>
    </div>




{% endblock %}
