{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center py-4">{{ 'label.login'|trans }}</h1>
    <div class="col-md-6 offset-md-3">

        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    {{ 'label.logged_as'|trans }} {{ app.user.username }}, <a href="{{ path('app_logout') }}">{{ 'label.logout'|trans }}</a>
                </div>
            {% endif %}

            <label for="inputEmail">{{ 'label.email'|trans }}</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" required autofocus>
            <label for="inputPassword">{{ 'label.password'|trans }}</label>
            <input type="password" name="password" id="inputPassword" class="form-control mb-3" required>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

            <button class="btn btn-primary" type="submit">
                {{ 'action.login'|trans }}
            </button>
        </form>
    </div>

</div>
{% endblock %}
