{% extends 'base.html.twig' %}

{% block title %}{{ 'title.comments'|trans }}{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center py-4">{{ 'title.comments'|trans }}</h1>

    {% if pagination is defined and pagination.items|length %}

    <div>
        <table class="table">
            <thead>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'comment.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.user'|trans, 'comment.user') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.content'|trans, 'comment.content') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.date'|trans, 'comment.date') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.posting'|trans, 'comment.posting.title') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </thead>
            <tbody>
            {% for comment in pagination.items %}
                <tr>
                    <td>{{ comment.id }}</td>
                    <td>{{ comment.user }}</td>
                    <td>{{ comment.content }}</td>
                    <td>{{ comment.date|format_date('long') }}</td>
{#                    <td>{{ comment.posting }}</td>#}
                    <td>
                        <a href="{{ path('comment_view', {'id': comment.id}) }}" class="btn btn-primary">{{ 'action.view'|trans }}</a>
                        <a href="{{ path('comment_update', {'id': comment.id}) }}"class="btn btn-warning ml-2">{{ 'action.update'|trans }}</a>
                        <a href="{{ path('comment_delete', {'id': comment.id}) }}"class="btn btn-danger ml-2">{{ 'action.delete'|trans }}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{{ 'no_records'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="navigation text-center">
        {{ knp_pagination_render(pagination) }}
    </div>

    {% else %}
        <p>
            {{ 'message.no_records'|trans }}
        </p>
    {% endif %}

</div>
{% endblock %}
