{% extends 'base.html.twig' %}

{% block title %}{{ 'title.comment'|trans }}{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center py-4">{{ 'title.comment'|trans }}</h1>
    <div>
        <table class="table">
            <tbody>
                <tr>
                    <th>{{ 'label.id'|trans }}</th>
                    <td>{{ comment.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'label.user'|trans }}</th>
                    <td>{{ comment.user }}</td>
                </tr>
                <tr>
                    <th>{{ 'label.content'|trans }}</th>
                    <td>{{ comment.content }}</td>
                </tr>
                <tr>
                    <th>{{ 'label.date'|trans }}</th>
                    <td>{{ comment.date|format_date('long') }}</td>
                </tr>
                <tr>
                    <th>{{ 'label.posting'|trans }}</th>
                    <td>{{ comment.posting.title }}</td>
                </tr>

            </tbody>
        </table>
    </div>

    <a href="{{ path('comments') }}" class="btn btn-primary">{{ 'action.back_to_list'|trans }}</a>
</div>
{% endblock %}
