{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center py-4">Comment</h1>
    <div>
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ comment.id }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ comment.date ? comment.date|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                <tr>
                    <th>On post titled</th>
                    <td>{{ comment.posting.title }}</td>
                </tr>
                    <th>Content</th>
                    <td>{{ comment.content }}</td>
                </tr>

            </tbody>
        </table>
    </div>

    <a href="{{ path('comments') }}" class="btn btn-primary">Back to list</a>
</div>
{% endblock %}
