{% extends 'base.html.twig' %}

{% block title %}Kategorie{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center py-4">{{ 'title.categories'|trans }}</h1>

    <div>
        <table class="table">
            <thead>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.category_title'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>{{ include('category/_delete_form.html.twig', {
                                'category':category
                            })
                            }}
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{#    <div class="row">#}
{#        <div class="category-wrapper col-md-12">#}
{#        {% for category in categories %}#}
{#            {% set className="" %}#}
{#                <h4 class="category-item {{ className }}" id="category-list"><a href="{{  url ("postings_in_category", {'id':category.id}) }}">{{ category.name }}</a>#}
{#                </h4>#}

{#        {% endfor %}#}
{#        </div>#}
{#    </div>#}

    <div class="row">
        <div class="pagination">
            {{ include ("/_pagination.html.twig", {
                'pageNumber':pageNumber,
                'path':'categories'
            })
            }}
        </div>
    </div>

</div>
{% endblock %}
