{% extends 'base.html.twig' %}

{% block title %}{{ 'title.postings'|trans }}{% endblock %}

{% block body %}

<div class="container">
    <h1 class="text-center py-4">{{ 'title.postings'|trans }}</h1>
    <div>
        <table class="table">
            <thead>
                <th>{{ 'label.id'|trans }}</th>
                <th>{{ 'label.post_title'|trans }}</th>
                <th>{{ 'label.is_active'|trans }}</th>
                <th>{{ 'label.category'|trans }}</th>
                <th>{{ 'label.tags'|trans }}</th>
                <th>{{ 'label.description'|trans }}</th>
                <th>{{ 'label.img'|trans }}</th>
                <th>{{ 'label.comments'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </thead>
            <tbody>
                {% for post in postings %}
                    {% if post.isActive ==1 %}
                    <tr class="table-success">
                    {% else %}
                    <tr class="table-danger">
                    {% endif %}
                        <td>{{ post.id }}</td>
                        <td>{{ post.title }}</td>
                        <td>
                            {% if post.isActive == 1 %}
                                {{ "✓" }}
                            {% else %}
                                {{ "X" }}
                            {% endif %}
                        </td>
                        <td>{{ post.category.name }}</td>
                        <td>{{ post.tags }}</td>
                        <td>{{ post.description}}</td>
                        <td>{{ include ("posting/_img.html.twig", {
                                'post':post,
                                'isSmall':50
                            } )
                            }}</td>
                        <td>{{ post.comments|length}}</td>
                        <td>
                            {% if post.isActive == 0 %}
                                <a href="{{ url('activate', {'id': post.id}) }}" class="btn btn-success my-2">{{ 'action.activate'|trans }}</a>
                            {% else %}
                                <a href="{{ url('deactivate', {'id': post.id}) }}" class="btn btn-warning my-2">{{ 'action.deactivate'|trans }}</a>
                            {% endif %}
                            <a class="btn btn-danger btn-sm ml-2">{{ include('posting/_delete_form.html.twig') }} </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">{{ 'no_records'|trans }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


</div>
{% endblock %}
