{% extends 'base.html.twig' %}

{% block title %}Ogłoszenia{% endblock %}

{% block body %}

<div class="site-wrapper">

    <div class="jumbotron">
        <h1>Serwis ogłoszeniowy</h1>
    </div>

    <div class="container">

        <div class="row">
            <div class="category-wrapper col-md-4">
                <h3>Wybierz kategorię</h3>
                {% for category in categories %}
                  {% set className="" %}
                    {% if currentCategory is not null and category.id == currentCategory.id %}
                        {% set className="current-category" %}
                    {% endif %}
                    <h4 class="category-item {{ className }}"><a href="{{  url ("postings_in_category", {'id':category.id}) }}">{{ category.name }}</a>
                    </h4>
                {% endfor %}
            </div>

            <div class="postings-wrapper col-md-8">

                {% for post in postings %}
                    <div class="container py-3">
                        <div class="card">
                            <div class="card-horizontal" style="display: flex;">

                                <div class="row card-body">
                                    <div class="col-md-8 ">
                                        <div class="card-header text-muted">
                                            {% if post.category is not empty %}
                                                <a href="{{  url ("postings_in_category", {'id':post.category.id}) }}">{{ post.category.name }}</a>
                                            {% endif %}
                                        </div>
                                        <h4 class="card-title py-3">{{ post.title }}</h4>
{#                                        <h6 class="card-subtitle text-muted">#}
{#                                            {{ include ("posting/_tags.html.twig",#}
{#                                                {'post':post})#}
{#                                            }}</h6>#}

                                        <h6 class="card-subtitle text-muted">{{ post.date ? post.date|date('Y-m-d H:i') : '' }}</h6>
                                        <p class="card-text py-2">{{ post.description }}</p>
                                        <a href="/posting/{{ post.id }}" class="card-link">Read More</a>
                                        <p class="card-text">{% if post.comments|length>0 %}
                                                {{ post.comments|length}} {{  post.getCommentsHeader() }}
                                            {% endif %}
                                        </p>
                                    </div>

                                <div class="col-md-4 my-auto">
                                    <img src="https://picsum.photos/600/400" class="w-100">
                                    {{ include ("posting/_img.html.twig", {
                                        'post':post
                                    })
                                    }}
                                </div>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="pagination">
                {{ include ("/_pagination.html.twig", {
                    'pageNumber':pageNumber,
                    'path':'postings'
                })
                }}
            </div>
        </div>

    </div>

</div>
{% endblock %}