{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mt-5">{{ post.title }}</h1>
            <div class="row my-4">
                <div class="col">
                {{ post.date|format_date('long') }}
                </div>
            </div>
            <div class="row my-4">
                <div class="col">{{ 'label.category'|trans }}:
                    {{ post.category.name }}
                </div>
                <div class="col">{{ 'label.tags'|trans }}:
                    {{ include ("posting/_tags.html.twig", {
                        'post':post
                        })
                    }}
                </div>
            </div>
            <p>
                {{ post.description }}
            </p>
        </div>
        <div class="row">
            {{ include ("posting/_img.html.twig", {
                'post':post
                })
            }}
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <button type="button" class="btn btn-primary mb-4">
                <a class="text-white" href="{{ url ('comment_create') }}">{{ 'label.leave_comment'|trans }}</a>
            </button>
            {% if post.comments is not empty %}
                <h3 class="mb-5">{{ 'label.comments'|trans }}:</h3>
                {% for comment in post.comments %}
                    <div class="media border-top border-bottom">
                        <div class="media-body m-3">
                            <h5 class="font-weight-bold">{{ comment.user }}</h5>
                            <h6>{{ comment.date|format_date('long') }}</h6>
                            {{ comment.content }}
                        </div>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-danger align-self-center"  href="{{ path('comment_delete', {'id': comment.id}) }}">{{ 'action.delete'|trans }}</a>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
            <h4>{{ 'no_comments'|trans }}</h4>
            {% endif %}
        </div>
    </div>

</div>

{% endblock %}
