<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

            <link rel="stylesheet" href="/css/style.css">

            <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Raleway:ital,wght@0,400;0,500;0,600;1,400&family=Varta:wght@500&display=swap" rel="stylesheet">

        {% endblock %}
    </head>
    <body>

    <div class="container-fixed" id="navBar">

        <div class="navbar row nav-login">
            {% if app.user %}
                <span>Zalogowany jako: {{ app.user.username }}</span>
                <span><a href="{{ path('user_edit') }}">Edytuj profil</a></span>
            {% else %}
                <span>Nie jesteś zalogowany </span>
            {% endif %}
                <a href="{{ path('app_login') }}" class="nav-item">Zaloguj</a>
                <a href="{{ path('app_logout') }}" class="nav-item">Wyloguj</a>
        </div>

        <div class="navbar row">
            <a href="{{ url('postings') }}" class="nav-item">Postingi</a>
            <a href="{{ url('posting_create') }}" class="nav-item">Create Posting</a>
            <a href="{{ url('posting_update', {'id':2}) }} " class="nav-item">Update Posting</a>
            <a href="{{ url('categories', {'pageNumber':1}) }}" class="nav-item">Kategorie</a>
            <a href="{{ url('category_create') }}" class="nav-item">Create Category</a>
{#            <a href="{{ url('category_update', {'id':2}) }}">Update Category</a>#}
            <a href="{{ url('comment_new') }}" class="nav-item">Create Comment</a>
            <a href="{{ url('comment_edit', {'id':1}) }}" class="nav-item">Update Comment</a>

        </div>
    </div>

    {% for msg in app.flashes('success') %}
        <div class="alert alert-success">
            {{ msg }}
        </div>
    {% endfor %}

    {% for msg in app.flashes('danger') %}
        <div class="alert alert-danger">
            {{ msg }}
        </div>
    {% endfor %}


        {% block body %}

        {% endblock %}

        {% block javascripts %}

            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

        {% endblock %}
    </body>
</html>
